* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/* css chung */
.mx {
  color: rgb(64, 48, 232);
}
.md {
  color: rgb(255, 16, 2);
}
.mt12 {
  margin-top: 12px;
}
.mt32 {
  margin-top: 32px;
}
.mb48 {
  margin-bottom: 48px;
}
/* css bth */
#main {
  background-color: #d1f3fa;
  font-family: "Rubik", sans-serif;
}
.content {
  text-align: center;
  max-width: 400px;
  /* height: 1000px; */
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 64px;
}
.header-icon img {
  width: 44px;
  margin-top: 32px;
  border-radius: 8px;
}
img + img {
  margin-left: 16px;
}
p + p {
  margin-top: 8px;
}
/* card app */
.card-app {
  display: flex;
  min-height: 52px;
  border-radius: 8px;
  overflow: hidden;
}
.left-card {
  flex: 1;
  background-color: orange;
}
.logo-app img {
  width: 94%;
  border-radius: 8px;
  margin-top: 4px;
}

.mid-card {
  flex: 2;
  background-color: aqua;
}
.mid-card a {
  background-color: #0d61f2;
  color: #fff;
  padding: 12px;
  display: inline-block;
  min-width: 158px;
  border-radius: 20px;
}
.right-card {
  flex: 1;
  background-color: purple;
}
.right-card a {
  color: #fff;
  padding: 8px 4px;
  display: inline-block;
}
.card-app + .card-app {
  margin-top: 24px;
}
/* card link */
.card-link {
  color: #fff;
  background-color: #5379bb;
  border-radius: 8px;
  padding-bottom: 12px;
  padding-top: 12px;
}
.click-link__header h3 {
  font-size: 24px;
}
.click-link__desc {
  line-height: 22px;
  font-size: 18px;
  padding: 8px;
}
.click-link__link a {
  background-color: #0d61f2;
  color: #fff;
  padding: 12px;
  display: inline-block;
  min-width: 158px;
  border-radius: 20px;
}
.card-link + .card-link {
  margin-top: 8px;
}
/* footer */
.contact a img {
  height: 44px;
  width: 44px;
  border-radius: 12px;
}
.contact a + a {
  margin-left: 8px;
}

/* css riêng */

/* animation */
@keyframes zoom {
  to {
    transform: scale(1.06);
  }
}

.zoom {
  animation: zoom 2s infinite linear forwards;
}
